//@import compass/reset

*
  box-sizing: border-box

body  
  margin: 0
  height: 100vh
  background-color: #F6F6F6

#main-wrapper 
  //display: flex
  //flex-flow: row
  margin: 0 auto
  padding-top: 20px
  width: 80%
  min-width: 600px
  height: 100%
  overflow: hidden
  //position: relative

#top-wrapper 
  display: flex
  flex-flow: row
  height: 70%

#control-panel 
  width: 20%
  background-color: #F6F6F6
  display: flex
  flex-flow: column
  justify-content: center
  //align-content: flex-start
  align-items: center
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px

  .control-panel-button 
    width: 100%
    margin-bottom: 20px
    //margin: 10px 0

#main-card
  position: relative
  width: 75%
  height: 90%
  margin-right: 5%

#canvas-wrapper 
  position: relative
  height: 100%
  width: 100%
  //width: 60%

#main-canvas  
  margin: 0 auto
  /*margin-top: 20px*/
  display: block

#connect 
  position: fixed
  top: 50
  left: 50
  z-index: 10

#reset-btn
  position: absolute
  right: 40px
  bottom: 40px

#bottom-wrapper
  display: flex
  flex-flow: row nowrap
  height: 28%
  margin-bottom: 10px

#switch-wrapper
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  width: 20%

.plot-wrapper
  width: 75%
  margin-right: 5%
  height: 100%

  canvas
    width: 100%

#range-panel
  width: 100%

.range-field
  font-size: 16px

  >div:first-of-type
    display: inline-block
    width: 20px

  >div:nth-of-type(2)
    display: inline-block
    margin-left: 10px
    width: 80px

#switch-panel
  margin-left: 10px
  li
    width: 300px
    padding-left: 25px
    &.active
      background-color: #DDD
      padding-left: 23px
      border-left: 2px solid #EA4A4F
    &:hover
      padding-left: 24px
      border-left: 1px solid #EA4A4F
    cursor: pointer
  a
    text-decoration: none
    color: #333
    line-height: 30px
    font-size: 18px
    width: 100%

#code-wrapper
  position: absolute
  left: 6%
  right: 6%
  top: 10%
  bottom: 10%
  z-index: 100

#code-card
  width: 100%
  height: 100%
  display: flex
  flex-flow: column

#code-error-wrapper
  height: 100%
  display: flex
  flex-flow: row nowrap
  margin-bottom: 20px

#code-area
  width: 70%
  height: 100%
  font-family: "monospace"
  font-size: 16px
  margin-right: 20px

#error-area
  width: 30%
  //height: 100%
  font-family: "monospace"
  overflow: auto

#code-button-area
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end

  button
    margin-left: 20px

.ace-editor-error
  background-color: red
  position: absolute
