//@import compass/reset

*
  box-sizing: border-box

body  
  margin: 0
  height: 100vh

#main-wrapper 
  //display: flex
  //flex-flow: row
  margin: 0 auto
  padding-top: 20px
  width: 80%
  min-width: 600px
  height: 100%
  overflow: hidden

#top-wrapper 
  display: flex
  flex-flow: row
  height: 70%

#control-panel 
  width: 20%
  background-color: #FFF
  display: flex
  flex-flow: column
  //justify-content: space-between
  align-content: flex-start
  align-items: center
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px

  .control-panel-button 
    width: 100%
    margin-bottom: 20px
    //margin: 10px 0

#main-card
  position: relative
  width: 75%
  height: 90%
  margin-right: 5%

#canvas-wrapper 
  position: relative
  height: 100%
  width: 100%
  //width: 60%

#main-canvas  
  margin: 0 auto
  /*margin-top: 20px*/
  display: block

#connect 
  position: fixed
  top: 50
  left: 50
  z-index: 10

#reset-btn
  position: absolute
  right: 40px
  bottom: 40px

#bottom-wrapper
  display: flex
  flex-flow: row nowrap
  height: 30%

#switch-wrapper
  width: 20%

#plot-wrapper
  width: 75%
  margin-right: 5%
  height: 100%

#range-panel
  width: 100%
