/* line 3, ../sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/style.sass */
body {
  margin: 0;
  height: 100vh;
}

/* line 10, ../sass/style.sass */
#main-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}

/* line 20, ../sass/style.sass */
#top-wrapper {
  display: flex;
  flex-flow: row;
  height: 70%;
}

/* line 25, ../sass/style.sass */
#control-panel {
  width: 20%;
  background-color: #FFF;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 37, ../sass/style.sass */
#control-panel .control-panel-button {
  width: 100%;
  margin-bottom: 20px;
}

/* line 42, ../sass/style.sass */
#main-card {
  position: relative;
  width: 75%;
  height: 90%;
  margin-right: 5%;
}

/* line 48, ../sass/style.sass */
#canvas-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 54, ../sass/style.sass */
#main-canvas {
  margin: 0 auto;
  /*margin-top: 20px */
  display: block;
}

/* line 59, ../sass/style.sass */
#connect {
  position: fixed;
  top: 50;
  left: 50;
  z-index: 10;
}

/* line 65, ../sass/style.sass */
#reset-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/* line 70, ../sass/style.sass */
#bottom-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 30%;
}

/* line 75, ../sass/style.sass */
#switch-wrapper {
  width: 20%;
}

/* line 78, ../sass/style.sass */
#plot-wrapper {
  width: 75%;
  margin-right: 5%;
  height: 100%;
}

/* line 83, ../sass/style.sass */
#range-panel {
  width: 100%;
}
