/* line 3, ../sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/style.sass */
body {
  margin: 0;
  height: 100vh;
  background-color: #F6F6F6;
}

/* line 11, ../sass/style.sass */
#main-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}

/* line 22, ../sass/style.sass */
#top-wrapper {
  display: flex;
  flex-flow: row;
  height: 70%;
}

/* line 27, ../sass/style.sass */
#control-panel {
  width: 20%;
  background-color: #F6F6F6;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 39, ../sass/style.sass */
#control-panel .control-panel-button {
  width: 100%;
  margin-bottom: 20px;
}

/* line 44, ../sass/style.sass */
#main-card {
  position: relative;
  width: 75%;
  height: 90%;
  margin-right: 5%;
}

/* line 50, ../sass/style.sass */
#canvas-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 56, ../sass/style.sass */
#main-canvas {
  margin: 0 auto;
  /*margin-top: 20px */
  display: block;
}

/* line 61, ../sass/style.sass */
#connect {
  position: fixed;
  top: 50;
  left: 50;
  z-index: 10;
}

/* line 67, ../sass/style.sass */
#reset-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/* line 72, ../sass/style.sass */
#bottom-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 28%;
  margin-bottom: 10px;
}

/* line 78, ../sass/style.sass */
#switch-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

/* line 85, ../sass/style.sass */
.plot-wrapper {
  width: 75%;
  margin-right: 5%;
  height: 100%;
}
/* line 90, ../sass/style.sass */
.plot-wrapper canvas {
  width: 100%;
}

/* line 93, ../sass/style.sass */
#range-panel {
  width: 100%;
}

/* line 96, ../sass/style.sass */
.range-field {
  font-size: 16px;
}
/* line 99, ../sass/style.sass */
.range-field > div:first-of-type {
  display: inline-block;
  width: 20px;
}
/* line 103, ../sass/style.sass */
.range-field > div:nth-of-type(2) {
  display: inline-block;
  margin-left: 10px;
  width: 80px;
}

/* line 108, ../sass/style.sass */
#switch-panel {
  margin-left: 10px;
}
/* line 110, ../sass/style.sass */
#switch-panel li {
  width: 300px;
  padding-left: 25px;
  cursor: pointer;
}
/* line 113, ../sass/style.sass */
#switch-panel li.active {
  background-color: #DDD;
  padding-left: 23px;
  border-left: 2px solid #EA4A4F;
}
/* line 117, ../sass/style.sass */
#switch-panel li:hover {
  padding-left: 24px;
  border-left: 1px solid #EA4A4F;
}
/* line 121, ../sass/style.sass */
#switch-panel a {
  text-decoration: none;
  color: #333;
  line-height: 30px;
  font-size: 18px;
  width: 100%;
}

/* line 128, ../sass/style.sass */
#code-wrapper {
  position: absolute;
  left: 6%;
  right: 6%;
  top: 10%;
  bottom: 10%;
  z-index: 100;
}

/* line 136, ../sass/style.sass */
#code-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

/* line 142, ../sass/style.sass */
#code-error-wrapper {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

/* line 148, ../sass/style.sass */
#code-area {
  width: 70%;
  height: 100%;
  font-family: "monospace";
  font-size: 16px;
  margin-right: 20px;
}

/* line 155, ../sass/style.sass */
#error-area {
  width: 30%;
  font-family: "monospace";
  overflow: auto;
}

/* line 161, ../sass/style.sass */
#code-button-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
/* line 166, ../sass/style.sass */
#code-button-area button {
  margin-left: 20px;
}

/* line 169, ../sass/style.sass */
.ace-editor-error {
  background-color: red;
  position: absolute;
}
